* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Redressed", cursive;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Redressed", cursive;
  font-weight: 400;
  font-style: normal;
  
}

.wrapper {
  flex: 1; /* Makes this take up all space between header and footer */
  display: flex;
  flex-direction: column;
}


#random-header {
    padding: 13px 16px 11px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B6B09F;
    height: 100px;
    margin: 0;

}
#search-header{
     padding: 13px 16px 11px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B6B09F;
    height: 100px;
    margin: 0;
}
#fav-header{
      padding: 13px 16px 11px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B6B09F;
    height: 100px;
    margin: 0;
}
#button-random {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 45px;
    gap: 18px;
    border-radius: 15px;
    padding: 0 10px;

}
#search-buttons{
   display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 45px;
    gap: 18px;
    border-radius: 15px;
    padding: 0 10px;
 
}
#fav-buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 45px;
    gap: 18px;
    border-radius: 15px;
    padding: 0 10px;
 
}

#random {
    height: 30px;
    border: 2px solid black;
    border-radius: 9px;
    width: 124px;
    display: inline-block;
    display: flex;          
  align-items: center;     
  justify-content: center; 
  margin: 0 auto;  
  background-color:#e74c3c ;
  transition: transform 0.2s ease;
  
}
#random:hover{
    transform: translateY(-2px);
}
#search-btn{
    height: 30px;
    border: 2px solid black;
    border-radius: 9px;
    width: 124px;
    /* display: inline-block; */
    display: flex;          
  align-items: center;     
  justify-content: center; 
  margin: 0 auto;  
  background-color:#e74c3c ;
  transition: transform 0.2s ease;
}
#search:hover{
    transform: translateY(-2px);
}
#Delete{
    height: 30px;
    border: 2px solid black;
    border-radius: 9px;
    width: 124px;
    /* display: inline-block; */
    display: flex;          
  align-items: center;     
  justify-content: center; 
  margin: 0 auto;  
  background-color:#e74c3c ;
  transition: transform 0.2s ease;
}
#Delete:hover{
    transform: translateY(-2px);
}
.edit{
      display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  gap: 18px;
  border-radius: 15px;
  padding: 0 10px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}
.edit:hover{
  transform: translate-y(-2px);
}

#ingredient-input{
    height: 30px;
    border: 2px solid black;
    border-radius: 9px;
    width: 246px;
    display: inline-block; 
    display: flex;          
  align-items: center;     
  justify-content: center; 
    margin: 0 auto;  
background-color: #EAE4D5;
}
#input{
   display: inline-grid
;
    align-items: baseline;
    gap: 10px;
    margin: 0px 0px 0px 0px;
    background-color: black;
    padding: 24px 0px 0px 0px;
}
#search {
    height: 30px;
    border: 2px solid black;
    border-radius: 9px;
    width: 124px;
    background-color: #e74c3c;
    transition: tranform 0.2s ease;
}
#search:hover{
    transform: translateY(-2px);
}
#favorite {
    height: 30px;
    border: 2px solid black;
    border-radius: 9px;
    width: 124px;
    background-color: #e74c3c;
    transition: transform 0.2s ease;
}
#favorite:hover{
    transform: translateY(-2px);
}

#random-main {
    padding: 14px;
    flex: 1;
    background-color: #000000;

}
#fav-main{
    padding: 14px;
    flex: 1;
        background-color: #000000;

}
#main{
     padding: 14px;
    flex: 1;
        background-color: #000000;

}

#footer {
    text-align: center;
    padding: 15px 0;
    background-color: #B6B09F;
    color: #333;
}
#random-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 18px;
    padding: 0px 0px 25px 0px;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    
}
#favorite-Item{
  display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 18px;
    padding: 0px 0px 25px 0px;
}

.recipe {
  background-color:#EAE4D5;
  border: 2px solid black;
  border-radius: 10px;
  padding: 16px;
  max-width: 414px;
  margin: 14px 5px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #444;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
  
}

.recipe:hover {
  transform: translateY(-5px);
}

.recipe img {
  width: 100%;
  height: auto;
  border-radius: 21px;
  border: 1px solid black;
  object-fit: cover;
  box-shadow: 0 2px 8px 3px rgba(0,0,0,0.1);
}

.add-favorite {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  gap: 18px;
  border-radius: 15px;
  padding: 0 10px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.add-favorite:hover {
  background-color: #c0392b;
}
.toggle-details{
   display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  gap: 18px;
  border-radius: 15px;
  padding: 0 10px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease; 
}
.toggle-details:hover {
  background-color: #c0392b;
}

.recipe1 {
  background-color: #EAE4D5;
  border: 2px solid black;
  border-radius: 10px;
  padding: 16px;
  max-width: 414px;
  height: auto;
  margin: 14px 5px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #444;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.recipe1:hover {
  transform: translateY(-5px);
}

.recipe1 img {
  width: 100%;
  height: auto;
  border-radius: 21px;
  border: 1px solid black;
  object-fit: cover;
  box-shadow: 0 2px 8px 3px rgba(0,0,0,0.1);
}

.add-favorite {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  gap: 18px;
  border-radius: 15px;
  padding: 0 10px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.add-favorite:hover {
  background-color: #c0392b;
}
#search-Container{
      display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 18px;
    padding: 0px 0px 25px 0px;
    
}
.recipe2 {
  background-color: #EAE4D5;
  border: 2px solid black;
  border-radius: 10px;
  padding: 16px;
  max-width: 414px;
  height: auto;
  margin: 14px 5px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #444;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.recipe2:hover {
  transform: translateY(-5px);
}

.recipe2 img {
  width: 100%;
  height: auto;
  border-radius: 21px;
  border: 1px solid black;
  object-fit: cover;
  box-shadow: 0 2px 8px 3px rgba(0,0,0,0.1);
}

.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  gap: 18px;
  border-radius: 15px;
  padding: 0 10px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.delete:hover {
  background-color: #c0392b;
}

.edit-form{
  padding: 20px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

  .edit-form input[name="title"]{
        border: 2px solid;
    border-radius: 7px;
    width: 100%;
        padding: 0px 0px 0px 6px;
    
  }
.edit-form input[name="image"]{
        border: 2px solid;
    border-radius: 7px;
    width: 100%;
        padding: 0px 0px 0px 6px;
    
  }.edit-form input[name="ingredients"]{
        border: 2px solid;
    border-radius: 7px;
    width: 100%;
        padding: 0px 0px 0px 6px;
    
  }.edit-form input[name="instructions"]{
        border: 2px solid;
    border-radius: 7px;
    width: 100%;
        padding: 0px 0px 0px 6px;
  }.edit-form input[name="readin"]{
        border: 2px solid;
    border-radius: 7px;
    width: 100%;
        padding: 0px 0px 0px 6px;
  }
  .edit-form button[name="save"]{
    height: 19px;
    border: 1px solid black;
    border-radius: 9px;
    width: 97px;
    background-color: #e74c3c;
    transition: transform 0.2s ease;
    display: flex
;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 0px 50px;    
  }